@import '../../scss-exports/colors';

#contact {
    .flex-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .contact-info {
            width: calc(50% - 10px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 30px;
            p {
                display: flex;
                align-items: center;
                font-size: 16px;
                .contact-icon {
                    margin-bottom: -4px;
                    font-size: 20px;
                }
            }
        }
        .contact-form {
            padding: 20px;
            width: calc(50% - 10px);
            border-radius: .25em;
            background: $regex-keyword;
            .error-text {
                color: $danger;
                text-align: center;
            }
            > h3 {
                color: $regex;
            }
            > input {
                padding: 5px;
                width: 100%;
                color: $string;
                background-color: transparent;
                border: 0;
                border-bottom: 2px solid $regex;
                font-size: 18px;
                text-align: center;
                outline: 0;
                margin-top: 15px;
                margin-bottom: 15px;
                &::placeholder {
                    color: $regex;
                }
                &:focus {
                    border-color: $danger;
                }
                &:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0 50px $regex-keyword inset; /* Change the color to your own background color */
                    -webkit-text-fill-color: $regex;
                }
            }
            > textarea {
                padding: 5px;
                text-align: center;
                resize: none;
                width: 100%;
                color: $string;
                background-color: transparent;
                border: 0;
                border-bottom: 2px solid $regex;
                font-size: 18px;
                line-height: 20px;
                outline: 0;
                margin-top: 15px;
                margin-bottom: 15px;
                &::placeholder {
                    color: $regex;
                }
                &:focus {
                    border-color: $danger;
                }
                &:-internal-autofill-selected, &:autofill, &:-webkit-autofill {
                    appearance: none;
                    color: $string !important;
                    background-color: none !important;
                    outline: inherit;
                }
            }
            > .last-line {
                padding-top: 15px;
                display: flex;
                justify-content: space-between;
                .error-text {
                    color: $danger;
                    font-size: 14px;
                }
                > div {
                    > p {
                        font-size: 12px;
                        color: $regex;
                    }
                }
                > button {
                    font-size: 24px;
                    padding: 8px 12px;
                    min-width: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $regex-keyword;
                    border: 2px solid $regex;
                    border-radius: .25em;
                    color: $regex;
                    transition: all .5s ease-in-out;
                    cursor: pointer;
                    &:hover, &[disabled] {
                        background-color: $regex;
                        color: $regex-keyword;
                        box-shadow: 0 0 5px rgba(0,0,0,0.5);
                    }
                    &.completed {
                        border-color: $const;
                        color: $const;
                        &:hover {
                            background-color: $const;
                            color: $regex-keyword;
                        }
                    }
                    &.error {
                        border-color: $danger;
                        color: $danger;
                        &:hover {
                            background-color: $danger;
                            color: $regex-keyword;
                        }
                    }
                    &[disabled] {
                        cursor: auto;
                    }
                    > .loading {
                        font-size: 30px;
                        animation: 1.5s linear infinite rotate;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    #contact {
        .flex-container {
            .contact-form {
                > .last-line {
                    flex-direction: column;
                    > div {
                            margin-top: 10px;
                            order: 2;
                            text-align: center;
                    }
                    > button {
                        order: 1;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1000px) {
    #contact {
        .flex-container {
            .contact-form {
                width: 100%;
                order: 2;
            }
            .contact-info {
                padding: 20px;
                width: 100%;
                order: 1;
                align-items: center;
                > p {
                    margin-top: 3px;
                    margin-bottom: 3px;
                }
            }
        }
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
