@import '../../scss-exports/dimensions';
@import '../../scss-exports/colors';

#intro {
    padding-top: 15px + $header-height;
    padding-bottom: 40px;
    background-image: url('../../images/clef-heart.png');
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    > h1 {
        line-height: 30px;
        font-size: 16px;
        &.name {
            margin-top: 60px;
            margin-bottom: 60px;    
        }
        display: flex;
        > .rotating-pannel {
            > text {
                fill: $variable;
            }
        }
    }
    > h2 {  
        line-height: 30px;
        margin-bottom: 25px;
        margin-top: 25px;
        font-size: 16px;
        text-align: left;
        display: flex;
    }
    .rotating-pannel {
        flex: 1 1 0px;
        background-color: black;
        border: 1px solid $foreground;
        > text {
            fill: $foreground;
            font-family: 'Monaco';
        }
    }
}
