@import '../../scss-exports/dimensions';
@import '../../scss-exports/colors';

.screen {
    position: relative;
    background: linear-gradient(0deg, $background, #000000);
    .striage {
        position: absolute;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        pointer-events: none;
        background: repeating-linear-gradient(
            0deg,
            rgba(#000000, 1),
            rgba(#000000, 1) 2px,
            transparent,
            transparent 4px
        );
    }
}
#intro {
    > .Typist {
        padding-top: 15px + $header-height;
        padding-bottom: 40px;
        background-image: url('../../images/clef-heart.png');
        background-position-x: 100%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 100vh;
        > *:last-child::after {
            color: $foreground;
            content: "▮";
            opacity: 1;
            animation: blink 1s steps(1) infinite;
            font-size: 20px;
            line-height: 18px;
        }
        > p {
            white-space: pre;
            animation: text-blink 0.01s steps(2) infinite;
            color: $foreground;
            text-shadow: 0 0 5px #5f5566;
            max-width: 100%;
            @media only screen and (max-width: 600px) {
                line-height: 14px;
                font-size: 10px;
            }
            &.name-crunched {
                line-height: 12px;
                font-size: 12px;
                @media only screen and (max-width: 1000px) {
                    line-height: 10px;
                    font-size: 10px;
                }
                @media only screen and (max-width: 992px) {
                    line-height: 7px;
                    font-size: 7px;
                }
                @media only screen and (max-width: 768px) {
                    line-height: 6px;
                    font-size: 6px;
                }
                @media only screen and (max-width: 600px) {
                    line-height: 5px;
                    font-size: 5px;
                }
                @media only screen and (max-width: 400px) {
                    line-height: 4px;
                    font-size: 4px;
                }
                @media only screen and (max-width: 300px) {
                    line-height: 3px;
                    font-size: 3px;
                }
            }
            &.title-crunched {
                line-height: 10px;
                font-size: 10px;
                @media only screen and (max-width: 1000px) {
                    line-height: 8px;
                    font-size: 8px;
                }
                @media only screen and (max-width: 992px) {
                    line-height: 6px;
                    font-size: 6px;
                }
                @media only screen and (max-width: 768px) {
                    line-height: 5px;
                    font-size: 5px;
                }
                @media only screen and (max-width: 600px) {
                    line-height: 4px;
                    font-size: 4px;
                }
                @media only screen and (max-width: 400px) {
                    line-height: 3px;
                    font-size: 3px;
                }
                @media only screen and (max-width: 300px) {
                    line-height: 2px;
                    font-size: 2px;
                }
            }
            &.loading-assets {
                @media only screen and (max-width: 600px) {
                    line-height: 11px;
                    font-size: 9px;
                }
                @media only screen and (max-width: 400px) {
                    line-height: 11px;
                    font-size: 8px;
                }
                @media only screen and (max-width: 350px) {
                    line-height: 10px;
                    font-size: 7px;
                }
                @media only screen and (max-width: 300px) {
                    line-height: 9px;
                    font-size: 6px;
                }
            }
            > a {
                color: $regex-keyword;
                cursor: pointer;
                font-size: inherit;
                line-height: inherit;
                &:hover, &:active {
                    color: $regex;
                }
            }
        }
    }
}
@keyframes text-blink {
	from,
	to {
		opacity: 1;
	}
	50% {
		opacity: 0.85;
	}
}

@keyframes blink {
	from,
	to {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
