@import '../../scss-exports/colors';

#experience {
    align-items: unset;
    .chrono-container {
        .chrono-reflection {
            position: absolute;
            width: 1px;
            height: 700px;
            opacity: .3;
            background: linear-gradient(0deg,$new,rgba($background,1));
        }
        .chrono-circle {
            position: absolute;
            margin-left: -4.5px;
            transform-origin: center;
            width: 9px;
            height: 9px;
            border: 1px solid $new;
            background: #a16f9f;
            border-radius: 50%;
        }
        .chrono-pulse {
            margin-left: -4.5px;
            position: absolute;
            width: 9px;
            height: 9px;
            transform-origin: center;
            border-radius: 3rem;
            background: transparent;
            border: 1px solid $new;
            border-radius: 50%;
        }
        .chrono-line {
            height: 50vh;
            position: absolute;
            width: 1px !important;
            background: linear-gradient(180deg,$new,rgba($background,0));
        }
        .content {
            height: 700px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .experience {
                display: flex;
                align-items: center;
                justify-content: center;
                .connector {
                    color: $foreground;
                    flex-grow: 1;
                    color: $string;
                    display: block;
                }
                .experience-card {
                    height: 160px;
                    display: flex;
                    align-items: center;
                    &::before {
                        display: block;
                        content: "{";
                        font-size: 100px;
                        line-height: 100px;
                        color: $foreground;
                    }
                    &::after {
                        content: "}";
                        display: block;
                        font-size: 100px;
                        line-height: 100px;
                        color: $foreground;
                    }
                    h3 {
                        margin-bottom: 0;
                    }
                    span.title {
                        display: block;
                        color: $variable;
                    }
                    span.timeline {
                        display: block;
                        color: $foreground;
                    }
                }
            }
        }
    }
}
